<!-- <p>python works!</p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
          
              
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Side Navigation Bar</title>
        <link rel="stylesheet" href="python.component.css">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </head>
    <body>
        <h1> PYTHON TUTORIAL</h1>
    <div class="wrapper">
        <div class="sidebar">
            <h2>INDEX</h2>
            <ul>
                <li><a href="#"><i class="fas fa-home"></i>Bootstrap Home</a></li>
                <li><a href="#">Bootstrap Introduction</a>
                <li><a href="#">Bootstrap Editors</a></li>
                <li><a href="#">Bootstrap Basic</a></li>
                <li><a href="#">Bootstrap Elements</a></li>
                <li><a href="#">Bootstrap Attributes</a></li>
                <li><a href="#">Bootstrap Headings</a></li>
    
                <li><a href="#">Bootstrap Paragraphs</a></li>
                <li><a href="#">Bootstrap Images</a></li>
                <li><a href="#">Bootstrap Lists</a></li>
                <li><a href="#">Bootstrap Tables</a></li>
                <li><a href="#">Bootstrap Forms</a></li>
                <li><a href="#">Bootstrap Styles</a></li>
    
                <li><a href="#">Bootstrap IFrames</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">Bootstrap</a></li>
    
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">Bootstrap</a></li>

    
    
            </ul> 
            <div class="social_media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            </div>
            <div class="main_content">
                <div class="header">Welcome to JAVASCRIPT Tutorial   !!!</div>  
                <div class="info">
                  
                 <img src="../../assets/Images/javascript.png" height="350px" width="550px">
                 <img src="../../assets/Images/JavaScript-Tutorial-featured-Image.png" height="350px" width="550px"><br><br>
                 
                  <div>Our JavaScript Tutorial is designed for beginners and professionals both. JavaScript is used to create client-side dynamic pages.
                          <br>
                    JavaScript is an object-based scripting language which is lightweight and cross-platform.
                    <br>
                    JavaScript is not a compiled language, but it is a translated language. The JavaScript Translator (embedded in the browser) is responsible for translating the JavaScript code for the web browser.
                <br>     <img src="../../assets/Images/What-is-JavaScript-1.png" width="800px" height="350px"><br><br>
                JavaScript (js) is a light-weight object-oriented programming language which is used by several websites for scripting the webpages. It is an interpreted, full-fledged programming language that enables dynamic interactivity on websites when applied to an HTML document. It was introduced in the year 1995 for adding programs to the webpages in the Netscape Navigator browser. Since then, it has been adopted by all other graphical web browsers. With JavaScript, users can build modern web applications to interact directly without reloading the page every time. The traditional website uses js to provide several forms of interactivity and simplicity.
                <br>Although, JavaScript has no connectivity with Java programming language. The name was suggested and provided in the times when Java was gaining popularity in the market. In addition to web browsers, databases such as CouchDB and MongoDB uses JavaScript as their scripting and query language.
                </div>
 
                    <div> Features of JavaScript :  <img src="../../assets/Images/features-of-javascript.png" width="860px" height="450px">
                       </div>

                       <div> <img src="../../assets/Images/javascript-history-for-beginners-infographic2.png" width="860px" height="750px"> : History of JavaScript<br><br>

                        Application of JavaScript : JavaScript is used to create interactive websites.:<img src="../../assets/Images/javascript applications.png" width="600px" height="400px">   
                     </div>

                </div>
            </div>
        </div>
</body>    
</html>
      
        </body>
        </html> -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="row">
        <div class="col-sm-2" style="background-color:lavender;">INDEX
        </div>



        <div class="col-sm-5" style="background-color:lavenderblush;">PYTHON <br>
            <div class=wrapper1>
                
                <img src="../../assets/Images/mysql.png" height="200px" width="450px"><br>
              <p>  MySQL tutorial provides basic and advanced concepts of MySQL. Our MySQL tutorial is designed for beginners and professionals.
                    <br>
                    MySQL is a relational database management system based on the Structured Query Language, which is the popular language for accessing and managing the records in the database. MySQL is open-source and free software under the GNU license. It is supported by Oracle Company.
                    <br>
                    Our MySQL tutorial includes all topics of MySQL database that provides for how to manage database and to manipulate data with the help of various SQL queries. These queries are: insert records, update records, delete records, select records, create tables, drop tables, etc. There are also given MySQL interview questions to help you better understand the MySQL database.</p>
            </div>
        </div>
        
        
        <div class="col-sm-5" style="background-color:lavender;">PYTHON <br>
           
        </div>
       
      </div>


</body>
</html>
         -->


       
         
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Side Navigation Bar</title>
        <link rel="stylesheet" href="python.component.css">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </head>
    <body>
    
    <div class="wrapper">
        <div class="sidebar">
            <h2>INDEX</h2>
            <ul>
                <li><a href="https://www.w3schools.com/python/default.asp"><i class="fas fa-home"></i>Python Home </a></li>
                <li><a href="https://www.w3schools.com/python/python_intro.asp">Python Intro </a>
                    <li><a href="https://www.w3schools.com/python/python_getstarted.asp">Python Get Started </a>
                        <li><a href="https://www.w3schools.com/python/python_syntax.asp">Python Syntax</a>  
                            <li><a href="https://www.w3schools.com/python/python_comments.asp">Python Comments</a>
                                <li><a href="https://www.w3schools.com/python/python_variables.asp">Python Variables</a>
                                    <li><a href="https://www.w3schools.com/python/python_datatypes.asp">Python Datatypes</a>
                                        <li><a href="https://www.w3schools.com/python/python_numbers.asp">Python Numbers</a>  
                                            <li><a href="https://www.w3schools.com/python/python_casting.asp">Python Casting</a>
                                                <li><a href="https://www.w3schools.com/python/python_strings.asp">Python Strings</a>
                                                    <li><a href="https://www.w3schools.com/python/python_booleans.asp">Python Booleans </a>
                                                        <li><a href="https://www.w3schools.com/python/python_operators.asp">Python Operators </a>  
                                                            <li><a href="https://www.w3schools.com/python/python_lists.asp">Python Lists </a>
                                                                <li><a href="https://www.w3schools.com/python/python_tuples.asp">Python Tuples </a>
                                                                    <li><a href="https://www.w3schools.com/python/python_sets.asp">Python Sets </a>
                                                                        <li><a href="https://www.w3schools.com/python/python_dictionaries.asp">Python Dictionaries </a>  
                                                                            <li><a href="https://www.w3schools.com/python/python_conditions.asp">Python If..Else </a> 
                                                                                <li><a href="https://www.w3schools.com/python/python_while_loops.asp">Python While Loops </a>
                                                                                    <li><a href="https://www.w3schools.com/python/python_for_loops.asp">Python For Loops</a>
                                                                                        <li><a href="https://www.w3schools.com/python/python_functions.asp">Python Functions</a>  
                                                                                            <li><a href="https://www.w3schools.com/python/python_arrays.asp">Python Arrays</a>
                                                                                                <li><a href="https://www.w3schools.com/python/python_classes.asp">Python Classes & Objects </a>
                                                                                                    <li><a href="https://www.w3schools.com/python/python_inheritance.asp">Python Inheritance </a>
                                                                                                        <li><a href="https://www.w3schools.com/python/python_scope.asp">Python Scope</a>  
                                                                                                            <li><a href="https://www.w3schools.com/python/python_modules.asp">Python Modules </a>    
                                                                                                                <li><a href="https://www.w3schools.com/python/python_json.asp">Python JSON</a>
                                                                                                                    <li><a href="https://www.w3schools.com/python/python_file_handling.asp">Python File Handling</a>  
                                                                                                                        <li><a href="https://www.w3schools.com/python/numpy/default.asp">Python Modules</a>
                                                                                                                            <li><a href="https://www.w3schools.com/python/matplotlib_intro.asp">Python Matplotlib</a>
                                                                                                                                <li><a href="https://www.w3schools.com/python/python_ml_getting_started.asp">Machine Learning </a>
                                                                                                                                    <li><a href="https://www.w3schools.com/python/python_mysql_getstarted.asp">Python MySQL </a>  
                                                                                                                                        <li><a href="https://www.w3schools.com/python/python_mongodb_getstarted.asp">Python MongoDB </a>
                                                                                                                                            <li><a href="https://www.w3schools.com/python/python_reference.asp">Python Overview </a>
                                                                                                                                                <li><a href="https://www.w3schools.com/python/python_exercises.asp">Python Exercises </a>
                                                                                                                                                    <li><a href="https://www.w3schools.com/python/python_quiz.asp">Python Quiz</a>  
                                                                                                                                                        <li><a href="https://www.w3schools.com/python/python_examples.asp">Python Examples</a>
                                                                                                                                                            <li><a href="https://www.javatpoint.com/python-interview-questions">Python Interview Questions </a> 
                                                                                                                                                                <li><a href="https://www.javatpoint.com/python-mcq">Python MCQ </a><br><br>
                                                                                                                                                                 <img src="./assets/Images/PYTHONgiphy-1.gif" height="300px" width="220px">
               
    
               
            
            </ul> 
           
            </div>
            <div class="main_content">
                <div class="header">WELCOME TO PYTHON TUTORIAL !!!</div>  
                <div class="info">
                  
                  <p id="img">  <img src="./assets/Images/PYTHONgiphy-1.gif" height="400px" width="700px"></p>
                  <div class="box"><p> <br> Python tutorial provides basic and advanced concepts of Python. Our Python tutorial is designed for beginners and professionals.
                          <br> 
                    Python is a simple, general purpose, high level, and object-oriented programming language.
                    <br>
                    Python is an interpreted scripting language also. Guido Van Rossum is known as the founder of Python programming.
                    <br>
                    Our Python tutorial includes all topics of Python Programming such as installation, control statements, Strings, Lists, Tuples, Dictionary, Modules, Exceptions, Date and Time, File I/O, Programs, etc. There are also given Python interview questions to help you better understand Python Programming.
                     <br><br> Python History <br>
                     Python was invented by Guido van Rossum in 1991 at CWI in Netherland. The idea of Python programming language has taken from the ABC programming language or we can say that ABC is a predecessor of Python language.
                     <br>
                     There is also a fact behind the choosing name Python. Guido van Rossum was a fan of the popular BBC comedy show of that time, "Monty Python's Flying Circus". So he decided to pick the name Python for his newly created programming language.
                     <br>
                     Python has the vast community across the world and releases its version within the short period. </p>
                </div>
 
                    <div class="box1"> 
                      <img src="./assets/Images/Why-should-you-learn-python_-1.png" height="300px" width="550px"><br>
                     <p> Python provides many useful features to the programmer. These features make it most popular and widely used language. We have listed below few-essential feature of Python.<br>
                     1) Easy to use and Learn<br>
                     2) Expressive Language<br>
3) Interpreted Language<br>
4) Object-Oriented Language<br>
5) Open Source Language<br>
6) Extensible<br>
7) Learn Standard Library<br>
8) GUI Programming Support<br>
9) Integrated<br>
10) Embeddable<br>
11) Dynamic Memory Allocation<br>
12) Wide Range of Libraries and Frameworks<br></p>
                       </div>

                       <div class="box3"> <h6>Where is Python used? </h6><img src="./assets/Images/python uses.png" height="400px" width="800px"> <br><br>
                     </div>

                       <div class="box4"> <img src="./assets/Images/Python-Loops-01-1068x559.jpg" height="400px" width="550px">
                      <img src="./assets/Images/python-operators.jpg" height="400px" width="550px">
                    
                    </div>

                  <div class="box2"> <img src="./assets/Images/Data-Structures-In-Python-1-1.jpg"  height="400px" width="550px">
                    <img src="./assets/Images/Python OOPs concepts.png" height="400px" width="550px">

                  </div>
                   
                          <div class="box5"> <img src="./assets/Images/Python-Features.png"  height="500px" width="950px">
                
</div>

                </div>
            </div>
        </div>
</body>    
</html>