
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
            

    <div class=wrapper>
        <h1> Contact Us</h1>
   <h6 id="A">
   <img src="./assets/Images/contact.jpg" width="400px" height="400px"></h6>
<h3>We love talking about what we do and hearing about what you need.
Come find us on the social tubes!</h3><br><br>
<h2>Reach us</h2>
<h3>WEB TECH INFO Inc,
    24908 SE 43rd st ISSAQUAH,
    WA 98029 – IND</h3><br><br>
    <h2>Give us a ring</h2>
<h3>(425) 270-7096</h3><br><br>

<h2>Start a Conversation</h2>
<h3>webinfo@techno.com</h3>


</div>   
</body>
</html>
