<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


<div class="wrapper">
<h1> Welcome to Webtechnologies !
    <br>
    <h6 id="C">
    <img src="./assets/Images/aboutus.jpg" height="400px" width="300px"></h6>
    </h1><br>
<h5>
    Established in 2004, Web Technologies is a professional Web Designer and Web Application Developer<br><br>

We do Domain Registration, provide Sever Space, create professional design with changing trends, Online Forms, Databases, Searchable lists, Photo Galleries with Pop-ups, Location Maps and Content Management System (CMS) pages where the clients can add or edit content on a page like text, images or videos anytime.
<br><br>
We create artistic Graphic Designs and Animations.<br><br>

We have served various companies and organizations in India and abroad to showcase their Services and Products.<br><br>

Our prestigious clientile also include Colleges, Schools, and Public Liraries like the Ernakulam Public Library<br><br>

<h5>Web Technology can be classified into the following sections:<br><br>
    World Wide Web (WWW): The World Wide Web is based on several different technologies : Web browsers, Hypertext Markup Language (HTML) and Hypertext Transfer Protocol (HTTP).
    <br><br>
    Web Browser: The web browser is an application software to explore www (World Wide Web). It provides an interface between the server and the client and requests to the server for web documents and services.
    <br><br>
    Web Server: Web server is a program which processes the network requests of the users and serves them with files that create web pages. This exchange takes place using Hypertext Transfer Protocol (HTTP).
    <br><br>
    Web Pages: A webpage is a digital document that is linked to the World Wide Web and viewable by anyone connected to the internet has a web browser.
    <br><br>
    Web Development: Web development refers to the building, creating, and maintaining of websites. It includes aspects such as web design, web publishing, web programming, and database management. It is the creation of an application that works over the internet i.e. websites.</h5>
<br>

</h5>
</div>
</body>
</html>
