/* .wrapper{
    background-image: url(http://b.rgbimg.com/cache1w9Rqx/users/x/xy/xymonau/600/ouH3I4M.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color:brown ;
    font-style: italic;
} */