<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
	<link rel="stylesheet" href="html.component.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>INDEX</h2>
        <ul>
            <li><a href="https://www.w3schools.com/html/default.asp"><i class="fas fa-home"></i>HTML Home</a></li>
            <li><a href="https://www.w3schools.com/html/html_intro.asp">HTML Introduction</a></li>
            <li><a href="https://www.w3schools.com/html/html_editors.asp">HTML Editors</a></li>
            <li><a href="https://www.w3schools.com/html/html_basic.asp">HTML Basic</a></li>
            <li><a href="https://www.w3schools.com/html/html_elements.asp">HTML Elements</a></li>
            <li><a href="https://www.w3schools.com/html/html_attributes.asp">HTML Attributes</a></li>
            <li><a href="https://www.w3schools.com/html/html_headings.asp">HTML Headings</a></li>

            <li><a href="https://www.w3schools.com/html/html_paragraphs.asp">HTML Paragraphs</a></li>
            <li><a href="https://www.w3schools.com/html/html_images.asp">HTML Images</a></li>
            <li><a href="https://www.w3schools.com/html/html_lists.asp">HTML Lists</a></li>
            <li><a href="https://www.w3schools.com/html/html_tables.asp">HTML Tables</a></li>
            <li><a href="https://www.w3schools.com/html/html_forms.asp">HTML Forms</a></li>
            <li><a href="https://www.w3schools.com/html/html_styles.asp">HTML Styles</a></li>

            <li><a href="https://www.w3schools.com/html/html_iframe.asp">HTML IFrames</a></li>
            <li><a href="https://www.w3schools.com/tags/ref_standardattributes.asp">HTML Global Attributes</a></li>
            <li><a href="https://www.w3schools.com/tags/ref_eventattributes.asp">HTML Event Attributes</a></li>
            <li><a href="https://www.w3schools.com/html/html_layout.asp">HTML Layout</a></li>
            <li><a href="https://www.w3schools.com/html/html_responsive.asp">HTML Responsive</a></li>
            <li><a href="https://www.w3schools.com/html/html_symbols.asp">HTML Symbols</a></li>

            <li><a href="https://www.w3schools.com/html/html_formatting.asp">HTML Formatting</a></li>
            <li><a href="https://www.w3schools.com/html/html_scripts.asp">HTML Javascript</a></li>

            <li><a href="https://www.w3schools.com/html/html_entities.asp">HTML Entities</a></li>
            <li><a href="https://www.w3schools.com/html/html_urlencode.asp">HTML URL Encode</a></li>
            <li><a href="https://www.w3schools.com/tags/ref_colornames.asp">HTML Color Names</a></li>
            <li><a href="https://www.javatpoint.com/html-button-onclick">HTML Misc</a></li>
            <li><a href="https://www.javatpoint.com/html5-tutorial">HTML 5 Advance</a></li>

            <li><a href="https://www.w3schools.com/html/html5_canvas.asp">HTML Graphics</a></li>
            <li><a href="https://www.w3schools.com/html/html_media.asp">HTML Media</a></li>
            <li><a href="https://www.w3schools.com/html/html5_geolocation.asp">HTML API's</a></li>
            <li><a href="https://www.w3schools.com/html/html_examples.asp">HTML Examples</a></li>
            <li><a href="https://www.w3schools.com/tags/default.asp">HTML References</a></li>
            <li><a href="https://www.javatpoint.com/html-mcq">HTML MCQ</a></li>
            <li><a href="https://www.javatpoint.com/html-interview-questions">HTML Interview Questions</a></li>


        </ul> 
        <!-- <div class="social_media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div> -->
        </div>
        <div class="main_content">
            <div class="header"><img src="./assets/Images/welcome.gif" height="60px" width="300px"> TO HTML TUTORIAL !!!</div>  
            <div class="info">
              
              <div class="box1"><p>
             <img src="./assets/Images/HTML.gif" height="450px" width="400px"> <img src="./assets/Images/Animations_with_HTML5_2000x1100_v2.gif" height="450px" width="690px"> <br><br>
              HTML tutorial or HTML 5 tutorial provides basic and advanced concepts of HTML. Our HTML tutorial is developed for beginners and professionals. In our tutorial, every topic is given step-by-step so that you can learn it in a very easy way. If you are new in learning HTML, then you can learn HTML from basic to a professional level and after learning HTML with CSS and JavaScript you will be able to create your own interactive and dynamic website. But Now We will focus on HTML only in this tutorial. <br><br><b>Hyper Text</b>: HyperText simply means "Text within Text." A text has a link within it, is a hypertext. Whenever you click on a link which brings you to a new webpage, you have clicked on a hypertext. HyperText is a way to link two or more web pages (HTML documents) with each other. <br>
                <b>Markup language</b>: A markup language is a computer language that is used to apply layout and formatting conventions to a text document. Markup language makes text more interactive and dynamic. It can turn text into images, tables, links, etc.
                <br>
                <b>Web Page</b>: A web page is a document which is commonly written in HTML and translated by a web browser. A web page can be identified by entering an URL. A Web page can be of the static or dynamic type. With the help of HTML only, we can create static web pages.</p></div>

                <div class="box1"> <img src="./assets/Images/htmlfeatures.jfif" width="100%" height="600px">
 </div>
                     <div class="box1">
                         <img src="./assets/Images/a-brief-history-of-html-l.jpg" width="100%" height="600px">
                     </div>
                     <div class="box1">
                        <img src="./assets/Images/htmlversions.jpg" width="100%" height="600px">
                    </div>
                    <div class="box1">
                        <img src="./assets/Images/htmlbenefits.jfif" width="100%" height="600px">
                    </div>
                    <div class="box1">
                        <img src="./assets/Images/html exam.png" width="100%" height="600px">
                    </div>
                    </div>
                    </div>
                    </div>
                   
<hr>
<div class="wrapper">
    <div class="sidebar">
        <h2>INDEX</h2>
        <ul>
            <li><a href="https://www.w3schools.com/css/default.asp"><i class="fas fa-home"></i>CSS Home</a></li>
            <li><a href="https://www.w3schools.com/css/css_intro.asp">CSS Introduction</a>
            <li><a href="https://www.w3schools.com/css/css_syntax.asp">CSS Syntax</a></li>
            <li><a href="https://www.w3schools.com/css/css_selectors.asp">CSS Selectors</a></li>
            <li><a href="https://www.w3schools.com/css/css_colors.asp">CSS Colors</a></li>
            <li><a href="https://www.w3schools.com/css/css_background.asp">CSS Backgrounds</a></li>
            <li><a href="https://www.w3schools.com/css/css_border.asp">CSS Borders</a></li>
            <li><a href="https://www.w3schools.com/css/css_margin.asp">CSS Margins</a></li>
                <li><a href="https://www.w3schools.com/css/css_padding.asp">CSS Padding</a></li>
                <li><a href="https://www.w3schools.com/css/css_dimension.asp">CSS Height/Width</a></li>
                <li><a href="https://www.w3schools.com/css/css_boxmodel.asp">CSS Box Model</a></li>
                <li><a href="https://www.w3schools.com/css/css_font.asp">CSS Fonts</a></li>
                <li><a href="https://www.w3schools.com/css/css_icons.asp">CSS Icons</a></li>
    
                <li><a href="https://www.w3schools.com/css/css_link.asp">CSS Links</a></li>
                <li><a href="https://www.w3schools.com/css/css_inline-block.asp">CSS Inline-Block</a></li>
                <li><a href="https://www.w3schools.com/css/css_navbar.asp">CSS Navigation Bar</a></li>
                <li><a href="https://www.w3schools.com/css/css_dropdowns.asp">CSS Dropdowns</a></li>
                <li><a href="https://www.w3schools.com/css/css_image_gallery.asp">CSS Image Gallery</a></li>
                <li><a href="https://www.w3schools.com/css/css_form.asp">CSS Forms</a></li>
    
                <li><a href="https://www.w3schools.com/css/css_website_layout.asp">CSS Website Layout</a></li>
                <li><a href="https://www.w3schools.com/css/css_counters.asp">CSS Counters</a></li>
    
                <li><a href="https://www.w3schools.com/css/css3_gradients.asp">CSS Gradients</a></li>
                <li><a href="https://www.w3schools.com/css/css3_3dtransforms.asp">CSS 3D Transforms</a></li>
                <li><a href="https://www.w3schools.com/css/css3_animations.asp">CSS Animations</a></li>
                <li><a href="https://www.w3schools.com/css/css3_transitions.asp">CSS Transitions</a></li>

                <li><a href="https://www.w3schools.com/css/css3_flexbox.asp">CSS FlexBox</a></li>
                <li><a href="https://www.w3schools.com/css/css_rwd_intro.asp">Responsive Web Design - Introduction</a></li>
                <li><a href="https://www.w3schools.com/css/css_rwd_viewport.asp">RWD Viewport</a></li>
                <li><a href="https://www.w3schools.com/css/css_rwd_videos.asp">RWD Videos</a></li>
                 <li><a href="https://www.w3schools.com/css/css_rwd_grid.asp">RWD Grid View</a></li>
                <li><a href="https://www.w3schools.com/css/css_rwd_mediaqueries.asp">RWD Media Queries</a></li>
                <li><a href="https://www.w3schools.com/css/css_rwd_images.asp">RWD Images</a></li>
    
                <li><a href="https://www.w3schools.com/css/css_rwd_templates.asp">CSS Templates</a></li>
                <li><a href="https://www.w3schools.com/css/css_grid.asp">CSS Grid Intro</a></li>
                <li><a href="https://www.w3schools.com/css/css_templates.asp">CSS Examples</a></li>
                <li><a href="https://www.w3schools.com/cssref/default.asp">CSS References</a></li>
                <li><a href="https://www.javatpoint.com/css-mcq">CSS MCQ</a></li>
                <li><a href="https://www.javatpoint.com/css-interview-questions">CSS Interview Questions</a></li>

            </ul>
             </div>
            <div class="main_content">
                <div class="header">Welcome to CSS Tutorial   !!!</div>  
                <div class="info1">
                  
                 <img src="./assets/Images/css3 (1).gif" height="350px" width="650px">
                 <img src="./assets/Images/CSS2.jpg" height="350px" width="580px"><br><br>
                 
                  <div class="box1">
                       <img src="./assets/Images/What-is-CSS.png" width="960px" height="350px"><br><br>
                CSS stands for Cascading Style Sheets. It is a style sheet language which is used to describe the look and formatting of a document written in markup language. It provides an additional feature to HTML. It is generally used with HTML to change the style of web pages and user interfaces. It can also be used with any kind of XML documents including plain XML, SVG and XUL.

                 <br> CSS is used along with HTML and JavaScript in most websites to create user interfaces for web applications and user interfaces for many mobile applications.
             <br> CSS tutorial or CSS 3 tutorial provides basic and advanced concepts of CSS technology. Our CSS tutorial is developed for beginners and professionals. The major points of CSS are given below:
             <br>
                                1) CSS stands for Cascading Style Sheet.<br>
                                 2) CSS is used to design HTML tags.<br>
                                3) CSS is a widely used language on the web.<br>
                                4) HTML, CSS and JavaScript are used for web designing. It helps the web designers to apply style on HTML tags.
                 </div>
                 
                              <!-- <div class="box1"> What does CSS do?? <br>
               1) You can add new looks to your old HTML documents.<br> 
               2) You can completely change the look of your website with only a few changes in CSS code.<br><br>
               Why use CSS<br>
                   These are the three major benefits of CSS:<br>

            1) Solves a big problem
                <br>Before CSS, tags like font, color, background style, element alignments, border and size had to be repeated on every web page. This was a very long process. For example: If you are developing a large website where fonts and color information are added on every single page, it will be become a long and expensive process. CSS was created to solve this problem. It was a W3C recommendation.<br>
                
                2) Saves a lot of time<br>
                    CSS style definitions are saved in external CSS files so it is possible to change the entire website by changing just one file.
<br>
                  3) Provide more attributes<br>
                CSS provides more detailed attributes than plain HTML to define the look and feel of the website.<br><br>
                </div> -->

                <div class="box1"> CSS Syntax :  <img src="./assets/Images/CSS-syntax.001.jpeg" width="860px" height="450px">
                </div>
<br>
                <div class="box1"> How to add CSS<br>
                 CSS is added to HTML pages to format the document according to information in the style sheet. There are three ways to insert CSS in HTML documents.
                 <br>
                1) Inline CSS<br>
                2) Internal CSS<br>
                3) External CSS<br>
                    
                 <img src="./assets/Images/types-of-css.png" width="860px" height="650px"></div>

                 <div class="box1">
                 CSS BOX MODEL :  <img src="./assets/Images/css box model.jpg" width="800px" height="450px">   
              </div>

              <div class="box1"> CSS Website Layout : <img src="./assets/Images/css-layout-using-floats.png" width="100%" height="700px"> </div>
              <div class="box1"> <img src="./assets/Images/CSS-Text-Formatting-Properties2.png" width="100%" height="550px">
              </div>
              <div class="box1">   <img src="./assets/Images/cssflexvsgridjpg" width="100%" height="450px">
              </div>
              </div>
              </div>
              </div>
            </body>
            </html>
  