
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Side Navigation Bar</title>
        <link rel="stylesheet" href="javascript.component.css">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </head>
    <body>
    
    <div class="wrapper">
        <div class="sidebar">
            <h2>INDEX</h2>
            <ul>
                <li><a href="https://www.w3schools.com/js/default.asp"><i class="fas fa-home"></i>JAVASCRIPT Home</a></li>
                <li><a href="https://www.w3schools.com/js/js_intro.asp">JavaScript Introduction </a>
                <li><a href="https://www.w3schools.com/js/js_whereto.asp">JS Where To </a></li>
                <li><a href="https://www.w3schools.com/js/js_statements.asp">JS Statements</a></li>
                <li><a href="https://www.w3schools.com/js/js_syntax.asp">JS Syntax</a></li>
                <li><a href="https://www.w3schools.com/js/js_comments.asp">JS Comments</a></li>
                <li><a href="https://www.w3schools.com/js/js_variables.asp">JS Variables </a></li>
    
                <li><a href="https://www.w3schools.com/js/js_strings.asp">JS Strings </a></li>
                <li><a href="https://www.w3schools.com/js/js_events.asp">JS Events </a></li>
                <li><a href="https://www.w3schools.com/js/js_objects.asp">JS Objects </a></li>
                <li><a href="https://www.w3schools.com/js/js_functions.asp">JS Functions </a></li>
                <li><a href="https://www.w3schools.com/js/js_numbers.asp">JS Numbers</a></li>
                <li><a href="https://www.w3schools.com/js/js_arrays.asp">JS Arrays </a></li>
    
                <li><a href="https://www.w3schools.com/js/js_versions.asp">JS Versions</a></li>
                <li><a href="https://www.w3schools.com/js/js_arrow_function.asp">JS Arrow Functions</a></li>
                <li><a href="https://www.w3schools.com/js/js_classes.asp">JS Classes</a></li>
                <li><a href="https://www.w3schools.com/js/js_json.asp">JS JSON</a></li>
                <li><a href="https://www.w3schools.com/js/js_callback.asp">JS Callbacks</a></li>
                <li><a href="https://www.w3schools.com/js/js_htmldom.asp">JS HTML DOM Intro</a></li>
    
                <li><a href="https://www.w3schools.com/js/js_htmldom_methods.asp">JS Methods </a></li>
                <li><a href="https://www.w3schools.com/js/js_htmldom_document.asp">JS DOM Document</a></li>
                <li><a href="https://www.w3schools.com/js/js_htmldom_elements.asp">JS DOM Elements</a></li>
                <li><a href="https://www.w3schools.com/js/js_htmldom_css.asp">JS DOM CSS</a></li>
                <li><a href="https://www.w3schools.com/js/js_htmldom_animate.asp">JS DOM Animation </a></li>
                <li><a href="https://www.w3schools.com/js/js_htmldom_events.asp">JS Events</a></li>
                <li><a href="https://www.w3schools.com/js/js_htmldom_eventlistener.asp">JS DOM EventListener </a></li>
                <li><a href="https://www.w3schools.com/js/js_htmldom_navigation.asp">JS DOM Navigation</a></li>
                <li><a href="https://www.w3schools.com/js/js_window.asp">JS Browser BOM </a></li>
                <li><a href="https://www.w3schools.com/js/js_api_intro.asp">JS Web APIs - Introduction</a></li>
                <li><a href="https://www.w3schools.com/js/js_ajax_intro.asp">JS AJAX Introduction</a></li>
                <li><a href="https://www.w3schools.com/js/js_json_intro.asp">JS JSON - Introduction</a></li>
                <li><a href="https://www.w3schools.com/js/js_jquery_selectors.asp">JS JavaScript / jQuery DOM Selectors </a></li>
                <li><a href="https://www.w3schools.com/js/js_graphics.asp">JS Graphics </a></li>
                <li><a href="https://www.w3schools.com/js/js_examples.asp">JS Examples</a></li>
                <li><a href="https://www.w3schools.com/jsref/default.asp">JS and HTML DOM Reference </a></li>
                <li> <a href="https://www.javatpoint.com/javascript-interview-questions">JavaScript Interview Questions</a></li>
              <li> <a href="https://www.javatpoint.com/javascript-mcq">JavaScript MCQ</a></li>

              <br><br>
              <img src="./assets/Images/PHP-vs-Java-vs-JavaScript.jpg" height="300px" width="240px">
    
            </ul> 
            <!-- <div class="social_media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div> -->
            </div>
            <div class="main_content">
                <div class="header">WELCOME TO JAVASCRIPT TUTORIAL   !!!</div>  
                <div class="info">
                  <div class="box1">
                 <img src="./assets/Images/animationJS.gif" height="350px" width="550px">
                 <img src="./assets/Images/JavaScript-Tutorial-featured-Image.png" height="350px" width="550px"></div>
                 
                  <!-- <div>Our JavaScript Tutorial is designed for beginners and professionals both. JavaScript is used to create client-side dynamic pages.
                          <br>
                    JavaScript is an object-based scripting language which is lightweight and cross-platform.
                    <br>
                    JavaScript is not a compiled language, but it is a translated language. The JavaScript Translator (embedded in the browser) is responsible for translating the JavaScript code for the web browser. -->
             <div class="box1">      <img src="./assets/Images/What-is-JavaScript-1.png" width="900px" height="350px"><br><br>
               <p> JavaScript (js) is a light-weight object-oriented programming language which is used by several websites for scripting the webpages. It is an interpreted, full-fledged programming language that enables dynamic interactivity on websites when applied to an HTML document. It was introduced in the year 1995 for adding programs to the webpages in the Netscape Navigator browser. Since then, it has been adopted by all other graphical web browsers. With JavaScript, users can build modern web applications to interact directly without reloading the page every time. The traditional website uses js to provide several forms of interactivity and simplicity.
                <br>Although, JavaScript has no connectivity with Java programming language. The name was suggested and provided in the times when Java was gaining popularity in the market. In addition to web browsers, databases such as CouchDB and MongoDB uses JavaScript as their scripting and query language.
             </p>   </div>
 
                    <div class="box1"> Features of JavaScript : 
   <img src="./assets/Images/features-of-javascript.png" width="860px" height="450px">
                       </div>

                       <div class="box1"> <img src="./assets/Images/javascript-history-for-beginners-infographic2.png" width="860px" height="750px"> : History of JavaScript<br><br>
</div>
                      <div class="box2"> Application of JavaScript : JavaScript is used to create interactive websites.: <br><img src="./assets/Images/javascript applications.png" width="950px" height="400px">   
                     </div>

                </div>
            </div>
        </div>
</body>    
</html>