
<!-- <p>python works!</p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
          
              
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Side Navigation Bar</title>
        <link rel="stylesheet" href="python.component.css">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </head>
    <body>
        <h1> PYTHON TUTORIAL</h1>
    <div class="wrapper">
        <div class="sidebar">
            <h2>INDEX</h2>
            <ul>
                <li><a href="#"><i class="fas fa-home"></i>Bootstrap Home</a></li>
                <li><a href="#">Bootstrap Introduction</a>
                <li><a href="#">Bootstrap Editors</a></li>
                <li><a href="#">Bootstrap Basic</a></li>
                <li><a href="#">Bootstrap Elements</a></li>
                <li><a href="#">Bootstrap Attributes</a></li>
                <li><a href="#">Bootstrap Headings</a></li>
    
                <li><a href="#">Bootstrap Paragraphs</a></li>
                <li><a href="#">Bootstrap Images</a></li>
                <li><a href="#">Bootstrap Lists</a></li>
                <li><a href="#">Bootstrap Tables</a></li>
                <li><a href="#">Bootstrap Forms</a></li>
                <li><a href="#">Bootstrap Styles</a></li>
    
                <li><a href="#">Bootstrap IFrames</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">Bootstrap</a></li>
    
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">Bootstrap</a></li>

    
    
            </ul> 
            <div class="social_media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            </div>
            <div class="main_content">
                <div class="header">Welcome to JAVASCRIPT Tutorial   !!!</div>  
                <div class="info">
                  
                 <img src="../../assets/Images/javascript.png" height="350px" width="550px">
                 <img src="../../assets/Images/JavaScript-Tutorial-featured-Image.png" height="350px" width="550px"><br><br>
                 
                  <div>Our JavaScript Tutorial is designed for beginners and professionals both. JavaScript is used to create client-side dynamic pages.
                          <br>
                    JavaScript is an object-based scripting language which is lightweight and cross-platform.
                    <br>
                    JavaScript is not a compiled language, but it is a translated language. The JavaScript Translator (embedded in the browser) is responsible for translating the JavaScript code for the web browser.
                <br>     <img src="../../assets/Images/What-is-JavaScript-1.png" width="800px" height="350px"><br><br>
                JavaScript (js) is a light-weight object-oriented programming language which is used by several websites for scripting the webpages. It is an interpreted, full-fledged programming language that enables dynamic interactivity on websites when applied to an HTML document. It was introduced in the year 1995 for adding programs to the webpages in the Netscape Navigator browser. Since then, it has been adopted by all other graphical web browsers. With JavaScript, users can build modern web applications to interact directly without reloading the page every time. The traditional website uses js to provide several forms of interactivity and simplicity.
                <br>Although, JavaScript has no connectivity with Java programming language. The name was suggested and provided in the times when Java was gaining popularity in the market. In addition to web browsers, databases such as CouchDB and MongoDB uses JavaScript as their scripting and query language.
                </div>
 
                    <div> Features of JavaScript :  <img src="../../assets/Images/features-of-javascript.png" width="860px" height="450px">
                       </div>

                       <div> <img src="../../assets/Images/javascript-history-for-beginners-infographic2.png" width="860px" height="750px"> : History of JavaScript<br><br>

                        Application of JavaScript : JavaScript is used to create interactive websites.:<img src="../../assets/Images/javascript applications.png" width="600px" height="400px">   
                     </div>

                </div>
            </div>
        </div>
</body>    
</html>
      
        </body>
        </html> -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="row">
        <div class="col-sm-2" style="background-color:lavender;">INDEX
        </div>



        <div class="col-sm-5" style="background-color:lavenderblush;">PYTHON <br>
            <div class=wrapper1>
                
                <img src="../../assets/Images/mysql.png" height="200px" width="450px"><br>
              <p>  MySQL tutorial provides basic and advanced concepts of MySQL. Our MySQL tutorial is designed for beginners and professionals.
                    <br>
                    MySQL is a relational database management system based on the Structured Query Language, which is the popular language for accessing and managing the records in the database. MySQL is open-source and free software under the GNU license. It is supported by Oracle Company.
                    <br>
                    Our MySQL tutorial includes all topics of MySQL database that provides for how to manage database and to manipulate data with the help of various SQL queries. These queries are: insert records, update records, delete records, select records, create tables, drop tables, etc. There are also given MySQL interview questions to help you better understand the MySQL database.</p>
            </div>
        </div>
        
        
        <div class="col-sm-5" style="background-color:lavender;">PYTHON <br>
           
        </div>
       
      </div>


</body>
</html>
         -->


       
         
    
         <!DOCTYPE html>
         <html lang="en">
         <head>
             <meta charset="UTF-8">
             <title>Side Navigation Bar</title>
             <link rel="stylesheet" href="sql.component.css">
             <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
         </head>
         <body>
         
         <div class="wrapper">
             <div class="sidebar">
                 <h2>INDEX</h2>
                 <ul>
                  <li><a class="active" href="https://www.w3schools.com/sql/default.asp">SQL Home</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_intro.asp">SQL Intro</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_syntax.asp">SQL Syntax</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_select.asp">SQL Select</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_where.asp">SQL Where</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_and_or.asp">SQL And, OR, Not</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_orderby.asp">SQL Order By</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_insert.asp">SQL Insert Into</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_null_values.asp">SQL Null Values</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_update.asp">SQL Update</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_delete.asp">SQL Delete</a></li>
                     
                  <li><a href="https://www.w3schools.com/sql/sql_top.asp">SQL Select Top</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_min_max.asp">SQL Min & Max </a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_count_avg_sum.asp">SQL COUNT(), AVG() and SUM() Functions </a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_like.asp">SQL Like</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_wildcards.asp">SQL Wildcards</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_join.asp">SQL Joins</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_join_inner.asp">SQL Inner Join</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_join_left.asp">SQL Left Join </a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_join_right.asp">SQL Right Join </a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_join_full.asp">SQL Full Join </a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_join_self.asp">SQL Self Join</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_union.asp">SQL Union </a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_groupby.asp">SQL Group By</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_isnull.asp">SQL Null Functions</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_operators.asp">SQL Operators</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_create_db.asp">SQL Create DB</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_examples.asp">SQL Examples </a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_quiz.asp">SQL Quizs </a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_exercises.asp">SQL Exercises</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_ref_keywords.asp">SQL Reference</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_hosting.asp">SQL Hosting</a></li>
                  <li><a href="https://www.w3schools.com/sql/sql_autoincrement.asp">SQL Auto Increment</a></li>
                  <li><a href="https://www.javatpoint.com/sql-mcq">SQL MCQ</a></li>
                  <li><a href="https://www.javatpoint.com/sql-interview-questions">SQL Interview Questions</a></li>

                  
                 </ul> 
                
                 </div>
                 <div class="main_content">
                     <div class="header">WELCOME TO SQL Tutorial  !!!</div>  
                     <div class="info">
                       
                       <p id="img">  <img src="./assets/Images/SQL.gif" height="300px" width="700px"></p>
                       <div class="box"><p> What is SQL?<br>
                        SQL is a short-form of the structured query language, and it is pronounced as S-Q-L or sometimes as See-Quell.<br>
                        
                        This database language is mainly designed for maintaining the data in relational database management systems. It is a special tool used by data professionals for handling structured data (data which is stored in the form of tables). It is also designed for stream processing in RDSMS.<br>
                        
                        You can easily create and manipulate the database, access and modify the table rows and columns, etc. This query language became the standard of ANSI in the year of 1986 and ISO in the year of 1987.<br>
                        
                        If you want to get a job in the field of data science, then it is the most important query language to learn. Big enterprises like Facebook, Instagram, and LinkedIn, use SQL for storing the data in the back-end.</p>
                     </div>
      
                         <div class="box1"> 
                           <img src="./assets/Images/why-sql-l.jpg" height="500px" width="850px"><br>
                          
                            </div>
     
                            <div class="box3"> History of SQL : <img src="./assets/Images/SQL-history.png" height="600px" width="995px"> <br><br>
                          </div>
     
                            <div class="box4"> Process of SQL : <img src="./assets/Images/sql-tutorial.png" height="500px" width="750px">
                           
                         
                         </div>
     
                       <div class="box2"> SQL Commands : 
                         <img src="./assets/Images/sqlcommands.jfif" height="600px" width="750px">
     
                       </div>
                        
                               <div class="box5"> <img src="./assets/Images/key-features.png"  height="500px" width="979px">
                     
     </div>
     
                     </div>
                 </div>
             </div>
     </body>    
     </html>
     